$color: green;

.create-envio {
    background: #f7f7f7;
    padding: 20px;
    label,
    select {        
        display: block;
    }
    label {
        margin-top: 25px;
    }
    select {
        padding: 10px;
        width: 180px;
    }
    input[type=checkbox] {
        margin: 10px;
    }
    input[type=submit] {
        
        @include botonProp;
    }
}